<div class="container">
    <div class="p-d-inline">
        <div class="p-m-2">
            <h1>Lançamentos</h1>
        </div>

        <div class="p-m-2 p-fluid">
            <label>Descrição</label>
            <input type="text" pInputText>
        </div>

        <div class="p-m-2">
            <label style="display : block">Vencimento</label>
            <input type="text" pInputText style="width: 95px">

            <label class="paddin">até</label>
            <input type="text" pInputText style="width: 95px">
        </div>

        <div class="p-m-2">
            <button pButton type="submit" label="Pesquisar"></button>
        </div>
    </div>
    <div class="p-fluid">
        <p-table [value]="lancamento" [paginator]="true" [rows]="5" [responsive]="true" styleClass="tableStyle">
            <ng-template pTemplate="header">
                <tr>
                    <th>Pessoa</th>
                    <th>Descrição</th>
                    <th>Vencimento</th>
                    <th>Pagamento</th>
                    <th>Valor</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-lanc>
                <tr>
                    <td>{{ lanc.pessoa }}</td>
                    <td>{{ lanc.descricao }}</td>
                    <td>{{ lanc.dataVencimento }}</td>
                    <td>{{ lanc.dataPagamento }}</td>
                    <td [ngStyle]="{ color : lanc.tipo == 'DESPESA' ? 'red' : 'blue'}">{{ lanc.valor }}</td>
                    <a pButton type="button" icon="pi pi-pencil" pTooltip="Editar" tooltipPosition="top"></a>
                    <button pButton type="button" icon="pi pi-trash" class="col-dis-butt" pTooltip="Excluir" tooltipPosition="top"></button>

                </tr>
            </ng-template>
        </p-table>
    </div>
    <div class="p-m-2">
        <a pButton label="Novo Lançamento"></a>
    </div>
</div>